@use "./style/button.scss" ; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body,
#root {
  min-height: 100%;
  width: 100%;
  background: #f3f3f0;
  color: #1c2b2a;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  min-height: 100vh;
}

.highlight {
  color: #93118a;
}